*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Teko', sans-serif;
    font-size: 1.3rem;
   
    }
input:focus{
    outline: 1px solid blue;
    
}

h1{
    background-color: darkslategray;
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: center;
}

main{
    width: 90%;
    margin: 0 auto;
    border: none;
    
    
}

.header_signup{
display: flex;
justify-content: center;
justify-content: space-around;
align-items: center;
height:15vh;
flex-direction: column;
}
.border{
    border-bottom: 2px solid black;
    margin-bottom: 1px;
}
.contact_info h2{
    border-top: solid  1px black;
    padding-top: 1rem;
}
.header_signup p{
    text-align: center;
    
}


.contact_info{
    padding:0;
    border:none ;
}
.contact_info input::placeholder{
    text-align: right;
   
}
.contact_info input{
    padding-left:.2rem;
    padding-right:.2rem;
}

.contact_info input, select{
    border:1px solid lightslategrey;
    margin-bottom: 1rem;
    width: 100%;
    height:2rem;
    border-radius:.3rem;
    background-color: lightsteelblue;
    
}

.contact_info h2{
    margin-bottom:1.5rem;
}

.newsletter_bttm input, .newsletter_bttm h3, .newsletter_bttm p{
    margin:1rem;
    margin-left: 0;
    

}
.newsletter_bttm h3{
    font-size: 2rem;
    font-weight: bold;
}

.newsletter_bttm{
    border:none;
    border-top:1.5px solid black;
}

.newsletter_format{
    margin-top:1rem;
    
}

.other_topics{
    margin-bottom:1rem
}
.topics_textarea{
    width:100%;
    height:4.4rem;
    margin-bottom: 1rem;
    margin-top: .5rem;
    border-radius: .5rem;
    background-color: aqua;
    
}

form button{
    width: 100%;
    height:3rem;
    background-color: lightsteelblue;
}
/* trnasition for exceeds */
fieldset{
   
    transition-duration: 1s;
}
fieldset:hover{
    background-color: darkgray;
}
body{
    background-color: mediumvioletred;
}



@media(min-width:768px){

     br:nth-of-type(odd){
        display: none;
    }
    label{
        display: inline-block;
        width: 30%;
    }
 
    .contact_info input,select{
        width: 60%;
        
    };
    .last_br{
        display: none;
    }
    .other_topics{
        margin-top: 2rem;
        display:inline-block;
        width:100%;
        margin-bottom: 0;
    }
    .topics_textarea{
        margin-top: 0;
    }
}
/* fixing br for input in seconf fieldset */
.newsletter_bttm br{
    display: block
    
}